body {
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.one-heading {
    margin-left: 20%;
    border-left: 4px solid;
    border-left-color: rgb(191, 24, 24);
    border-radius: 5px;
    font-size: 35px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    display: center;
    color: rgb(61, 60, 60);
}

span {
    color: rgb(207, 150, 5);
}