body {
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
}

.one-heading {
    margin-top: 80px;
    margin-left: 180px;
    border-left: 4px solid;
    border-left-color: rgb(255, 50, 50);
    border-radius: 4px;
    font-size: 33px;
    padding-left: 10px;
    font-family: 'Cuprum', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
    color: rgb(75, 75, 75);
    width: 50%;
}

.jpg-one {
    margin-top: 80px;
}

span {
    color: rgb(255, 203, 73);
}

.one-para {
    margin-left: 180px;
    width: 50%;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;

}

.link {
    margin: 10px, 10px, 10px, 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 81, 81);
    border-radius: 5px;
}

.misson22 {
    font-size: 50px;
    color: rgb(0, 4, 50);
    padding-left: 500px;
}

.part1 {
    background-color: rgb(227, 248, 255);
    border-radius: 10px;
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 40px 20px 20px;
}

.part2 {
    background-color: rgb(253, 218, 243);
    border-radius: 10px;
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 40px 40px 20px;
}

.part3 {
    background-color: rgb(255, 247, 217);
    border-radius: 10px;
    width: 50%;
    margin-left: 40px;
    padding: 20px 40px 65px 20px;
    margin-right: 40px;
}


.illustrator {

    width: 42%;
    height: 40%;
    padding-left: 30%;
}

.heading3 {
    padding-left: 30px;
    font-size: 30px;
}